
#chat-user-icon{ 
    display: flex;
    background-color: #00ffc46b;

}
#slider-back, #slider-forward{ 
    width: 2.5%; 
    cursor: pointer;
    background-color: #00ffb8c9;
    height:100px;
}

#slider-back > img , #slider-forward > img{ 
    height: 50px;
    position: relative;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#slider-back:hover , #slider-forward:hover{ 
    background-color: #00ffb8;
}





#chat-users {
    height: 100px;
    width: 100%;
    display: -webkit-box;
    padding: 10px;
    transition: 1s all;
}

#user-icon > img{ 
    height: 100%;
}
#user-icon {
    height: 75px;
    width: 75px;
    background: green;
    border-radius: 100%;
    margin-left: 10px;
    cursor: pointer;
    overflow: hidden;
}


/*Chat */
#chat-box-with-user {
    margin-top: 10px;
}
#chat-box-user {
  height: 800px;
  width: 40%;

  margin: 0 auto;
}
#receive-send {
  display: flex;
}
#receive,
#send {
  height: 800px;
  width: 100%;
}
#receive {
  background: #d5d5d5;
}

#send {
  background: #ebebeb;
}

#send-msg {
    position: relative;
    background: #008b00d4;
    width: auto;
    margin: 5px 6px 0 50%;;
    border-radius: 10px;
    padding: 1px 0px 1px 11px;
    color: white;
    word-wrap: break-word;
  }
  #send-msg > p{
    color: white;
    font-size: 70%;
  }
  #receive-msg {
    position: relative; 
    background: white;
    width: auto;
    margin: 5px 50% 0 6px;
    border-radius: 10px;
    padding: 1px 0px 1px 11px;
    color: black;
    word-wrap: break-word;
  }
  #receive-msg > p{
    color: black;
    font-size: 70%;
  }



/*SENDING BUTTON*/

#send-button{ 
    position: relative;
    top: -48px;
    padding-left: 10px;
}
#msg-bar{
    transition: 0.5s all;
    width: 88%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid grey;
}


#send-button > button{ 
    width: 100px;
    height: 32px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    border: 0.01px solid #a1a1a1;
    cursor: pointer;
    background: #00adff;
    margin-top: 15px;
    color: white;
}

#send-button > button:hover{ 
    background: #00adffd9;
}
