
#prompt_button {
  position: absolute;
  width: 500px;
  height: 210px;
  background: #191919;
  box-shadow: 10px 10px 5px #1b1b1b87;
  opacity: 0.95;
  margin: 0 40%;
  z-index: 1;
  border-radius: 5px;
  }
  #prompt_button > p {
    padding: 60px 0 0 30px;
    color: white;
  }
  #prompt_button > div > button {
    width: 75px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 53px 17px 0 22px;
    background: rgb(0, 127, 255);
    color:white;
  }
  
  #prompt_button > div > button:hover {
    background: rgb(0, 65, 131);
  }
  