* {
    font-family: "Roboto", sans-serif;
  }

  #add_title{ 
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-weight: 100;
    background: #7e007b;
    margin-bottom: 0px;
    color: white;
  }

  #add_task{
    background: white;
    color: #000000;
    margin: 0 auto;
    margin: 10px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 100%;

}


#add_task > form{
    display: flex;
    height: 100%;
}




  .add_project_form {
    background-color: #0000001a;
    height: 100%;
    width: 100%;
    padding: 1px;
    display: flex;
  }
  
  .detail_project {
    padding: 8px;
    background: linear-gradient( 90deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 52%, rgba(241, 241, 241, 1) 100%, rgba(241, 241, 241, 1) 100% );
    border-left: 1px solid #008cff;
    width: 100%;

  }
  
  #input_cover_all > :first-of-type {
    font-size: 13px;
    color: black;
    margin: 5px 0px 5px 6px;
    text-align: revert;
  }
  
  #input_cover {
    margin: 5px;
    height: 40px;
    width: 98%;
    background-color: white;
  }
  #form_input {
    height: 40px;
    width: 100%;
    /*h and w related to input_cover*/
    border: 1px solid grey;
    transition: 0.5s all;
  }
  #form_input:focus {
    height: 40px;
    width: 100%;
    /*h and w related to input_cover*/
    border: 1px solid #00a3ff;
    background: #004fff2e;
    box-shadow: 0 0 10px #9ecaed;
    outline: none;
    transition: 0.5s all;
  }


  
  
  #p_warning {
    font-size: 10px;
    color: #910000;
    font-weight: bold;
  }
  

  

@keyframes switchcolour{ 
    0%{background: #d2007f; color: white; padding-left: 0;}
    50%{background: #007eff; color: white; padding-left: 95px;}
    100%{background: #d2007f; color: white; padding-left: 0;}
} 
#btn_add_task_submit:hover{ 
    animation: switchcolour 2s infinite;
    transform: scale(1.1);
}

#btn_add_task_submit{ 

    border-radius: 7px;
    background: #d2007f;
    color: white;
    height: 50px;
    width: 125px;
    position: relative;
    right: 170px;
    top: 443px;
    cursor: pointer;
    transition: 0.21s ease-in-out;
    margin-top: 100px;
}

input::placeholder{ 
    color: grey;
    font-size: 10px;
}