#add_task{
    background: white;
    color: black;
    margin: 0 auto;
    margin-top: 2%;
    padding: 30px;
    width: 1100px;
    border: 5px solid;
    border-image: linear-gradient(to left bottom, #391cff, #6c19fb, #8c19f7, #a61df4, #bb25f0, #bc24f0, #bd22f0, #be21f0, #ab13f3, #9605f7, #7c00fb, #5800ff);
    border-image-slice: 1;
    border-radius: 10px;
    transition: 0.2s ease-in-out;

}
#add_task:hover{ 
    transform: scale(1.05);
}
#add_task > form{
    display: flex;
}
input{ 
    height: 50px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 6px;
}
select{ 
    height: 30px;
    width: 50px;
    text-align: center;
    margin: 10px 0 10px 2px;
}

.add_task_middle_form{
    margin-left: 100px;
}
textarea{ 
    width: 694px;
    height: 517px;
    resize: none;
}

#btn_add_task_submit{ 

    border-radius: 7px;
    background:#d2007f;
    color: white;
    height: 50px;
    width: 125px;
    position: relative;
    left: 558px;
    cursor: pointer;
    transition: 0.21s ease-in-out;
}







@keyframes switchcolour{ 
    0%{background: #d2007f; color: white; padding-left: 0;}
    50%{background: #007eff; color: white; padding-left: 95px;}
    100%{background: #d2007f; color: white; padding-left: 0;}
} 
#btn_add_task_submit:hover{ 
    animation: switchcolour 2s infinite;
    transform: scale(1.1);



}