#home{ 
    display: flex;
}
#project{ 
    height: 250px;
    width: 200px;
    background: none;
    border: 2px solid grey;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
}

#project:hover{ 
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;


}
#p_title{ 
    color: white;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 76px;
    text-decoration: underline;
    -webkit-highlight: inherit;
    text-decoration-color: grey;
}
#page_title{ 
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 23px;
}




  
.container {
    background-color: #001e3c;
    border-radius: 0;
}

.barCompleted {
    background-color: #007fff;
    width: 140%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 20px;

}

.label {
    font-size: 15px;
    color: white;
    position: relative;
    left: 80%;
}